{% extends 'base.html.twig' %}

{% block body %}
	{% if session.user is defined and session.user.admin %}
		<form method="post">
			<textarea class="editor" name="page_{{ page.id }}" id="page_{{ page.id }}">{{ page.title }}</textarea>
			<div>
				<button class="center btn btn-success" type="submit">
					Mettre à jour
				</button>
			</div>
		</form>
	{% else %}
		{{ page.title|raw }}
	{% endif %}

	{% for webContent in webContents %}
		{% if webContent.pageOrganisation.level == 1 %}
			<h2>{{ webContent.title|e }}</h2>
		{% elseif webContent.pageOrganisation.level == 2 %}
			<h3>{{ webContent.title|e }}</h3>
		{% else %}
			{{ webContent.title|e }}
		{% endif %}
		{% if session.user is defined and session.user.admin %}
			<form method="post">
				<textarea class="editor" name="content_{{ webContent.id }}" id="content_{{ webContent.id }}">{{ webContent.content }}</textarea>
				<div>
					<button class="center btn btn-success" type="submit">
						Mettre à jour
					</button>
				</div>
			</form>
		{% else %}
			{{ webContent.content|raw }}
		{% endif %}

	{% endfor %}

<main>
    <h1>Formulaire de contact</h1>
    <form method="post" id="formulaire"></form>
    <fieldset id="infos">
        <legend> <h2>Informations</h2></legend>
         <div id="nm">
          <label for="Nom">Nom:</label>
          <input type="text" placeholder="Parker">
         </div>
         <div id="fnm">
          <l abel="" for="">Prénom:
          <input type="text" placeholder="Peter">
         </l></div>
         <div>
          <label for="Statut">Statut</label>
         </div>
         <div>
          <input type="radio" name="Statut" id="particulier" required="" checked="">
          <label for="particulier">Particulier</label>
         </div>
         <div>
            <input type="radio" name="Statut" id="Professionnel" required="">
            <label for="Professionnel">Professionnel</label>
         </div>
    </fieldset>
    <fieldset>
        <legend> <h2>Message</h2></legend>
         <div>
          <label for="objet">Objet</label>
          <select type="text" name="objet" id="objet" required="">
                <option value="demande_de_contat">Demande de contact</option>
                <option value="offre_d'emploi">Offre d'emploi</option>
                <option value="envoi_d'une_brochure_tarifaire">Envoi d'une brochure tarifaire</option>
          </select>
         </div>
         <div> 
         <label for="email">Email</label>
         <input type="email" name="email" placeholder="email@.fr" required="">
            </div>
            <div>
        <textarea name="objet" id="messageArea" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Envoyer</button>
    </fieldset>
</main>
{% endblock %}
