{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block body %}
	<form method="post" class="mt-5">
		<fieldset>
			<legend>Connectez vous</legend>
			{% if app.debug %}
				<p>Username:
					{{ app.user.username ?? 'Anonymous user' }}</p>
				<p>Request method:
					{{ app.request.method }}</p>
				<p>Application Environment:
					{{ app.environment }}</p>
				<p>
					Messages debug :
					{% for debug in debugs %}
						{{ debug }}<br/>
					{% endfor %}
				</p>
			{% endif %}

			{% for erreur in erreurs %}
				<h1>{{ erreur }}</h1>
			{% endfor %}

			{% if app.user %}
				<div class="row center">
					<div class="col-12 mt-3">
						Bonjour
						{{ app.user.username }}
					</div>
					<div class="col-12 mt-3 mb-3">
						<a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				</div>
			{% else %}
				<div class="row center">
					<div class="col-12 mt-3">
						<p>
							Connexion :
						</p>
					</div>
					<div class="col-12 mt-3 mb-3">
						<input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus placeholder="adresse courriel">
					</div>
					<div class="col-12 mt-3 mb-3">
						<input type="password" name="password" id="inputPassword" required placeholder="mot de passe">
					</div>
					<div class="col-12 mt-3 mb-3">
						<button class="center btn btn-success" type="submit">
							Connexion
						</button>
					</div>
				</div>

			{% endif %}

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</fieldset>
	</form>
{% endblock %}
