{% extends 'base.html.twig' %}

{% block body %}

{# {% for key, value in session %}
    {{ key }}
{% endfor %}
<br />
{% for key, value in session.user %}
    {{ key }} 
{% endfor %}
<br /> #}

	<h1>{{ title }}</h1>

	{% for webContent in webContents %}
		{% if webContent.pageOrganisation.level == 1 %}
			<h2>{{ webContent.title|e }}</h2>
		{% elseif webContent.pageOrganisation.level == 2 %}
			<h3>{{ webContent.title|e }}</h3>
		{% else %}
			<p>{{ webContent.title|e }}</p>
		{% endif %}
		<p>{{ webContent.content }}</p>
	{% endfor %}

{% endblock %}
